Mathematical & Computational Biology/Bioinformatics Project/Part 3/HMM_stuff/all_orgs_combined_seqs_db.fa.zip
Mathematical & Computational Biology/Bioinformatics Project/Part 3/HMM_stuff/all_orgs_combined_seqs_db.fa.zip
# Large bioinformatics datasets
Mathematical & Computational Biology/Bioinformatics Project/Part 3/HMM_stuff/all_orgs_combined_seqs_db.fa
Mathematical & Computational Biology/Bioinformatics Project/Part 3/Fasta_Sequences/Databases/*.fa
